/* nav bar*/

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border-color: #e5bf4a;
    background-color: #e5bf4a;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbg {
    background-color: black;
}

.text-btn {
    color: #e5bf4a;
    font-size: 19px;
    font-weight: bold;
    transition: .5s;
    border: solid 1px #e5bf4a;
    padding: 10px;
    text-decoration: none;
}

.text-btn:hover {
    color: white;
    background-color: #e5bf4a;
}

.social-icon {
    color: white;
    font-size: 20px;
}

.angora {
    color: #e5bf4a;
    font-size: 50px;
    font-weight: bolder;
    vertical-align: middle;
    font-family: 'Dancing Script', cursive;
}

.dropdown-color {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}


/* section 1*/

.bg {
    background-image: url(../images/page1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 450px;
}

.caption {
    font-size: 70px;
    font-weight: 400;
    padding-top: 80px;
    padding-left: 40px;
    color: #fff;
    line-height: 1.2;
}


/**************/

@media screen and (max-width:575px) {
    .caption {
        font-size: 40px;
        font-weight: 100;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .caption {
        font-size: 40px;
        font-weight: 200;
        ;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .caption {
        font-size: 40px;
        font-weight: 300;
    }
}

.ma {
    margin: 0;
}

.btn-order {
    text-decoration: none;
    background-color: #e5bf4a;
    color: black;
    font-weight: bolder;
}


/* section two */

.caption-two {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.2;
}

@media screen and (max-width:575px) {
    .caption-two {
        font-size: 30px;
        font-weight: 100;
    }
}

.address {
    color: #e5bf4a;
    font-weight: 200;
}


/* slider */

.hover {
    overflow: hidden;
}

.img-HOVER {
    height: 200px;
    width: 200px;
    transition: 1s;
}

.img-HOVER:hover {
    transform: scale(1.1, 1.1);
    overflow: hidden;
}

.border-text {
    border-bottom: solid 2px #e5bf4a;
    border-width: 1px;
}


/* iframe */

.iframe {
    height: 400px;
    width: 100%;
}


/***/

.bord {
    border: solid 1px gray;
    border-left: 0;
}

.bord2 {
    border: solid 1px gray;
}

.bord3 {
    border: solid 1px gray;
    border-right: 0;
}

.star {
    color: #e5bf4a;
    font-size: 16px;
}

.line {
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    padding: 20px;
    width: 100%;
}